* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
  }
  
  .carousel {
    padding: 10px 10px 0;
    border-radius: 4px;
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .carousel__main {
    border-radius: 4px;
    height: 100%;
  }
  /* .carousel>img{
    width: 100%;
    height: 250px;
  } */
  img{
    height: 100%;
    width: 100%;
    /* background-size: contain; */
  }
  .demo-item {
    height: 300px;
    width: 100%;
    /* background-size: cover; */
  }
  /* .carousel_text{
    width: 33%;
    margin-top: 20%;
    font-size: 20px;
    margin-left: 3%;
  } */
  @media screen and (max-width: 768px) {  
    .carousel {
      padding: 10px 10px 0;
      border-radius: 4px;
      width: 100%;
      height: 250px;
      /* margin: auto; */
      margin-top: 40px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .carousel>img{
      width: 100%;
    }
    .demo-item {
      /* height: 650px; */
      width: 100%;
    }
  }
  