.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.add{
  background-color: green;
  color: azure;
  border:2px solid green;

}
.del{
  background-color: red;
  color: white;
  border: 0;
  margin-left: 40px;
}
.groc{
  border: solid 2px gray;
  padding: 10px;
  width: 200px;
  margin: auto;
  align-content:space-around;
  margin-top: 20px;
  font-family: cursive;
}
.but{
  background: teal;
  color: white;
  margin-left: 12px;
  border-radius: 20%;
}