#sidebar{
    border: 1px solid black;
    width: 210px;
    padding: 10px;
    height: 300px;
}
#container{
    display: flex;
}
img{
    height :200px;
    width :50%
}
#main>div{
    border :1px solid firebrick;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}