.container{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,30%);
    gap: 50px;
    width: 98%;
}
.container>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    font-family: monospace;
    font-size: 15px;
    line-height: 25px;
    color: maroon;
    text-align: left;
    /* border-radius: 5px; */
}
img{
    height: 330px;
}