.login{
    font-family: Muli, sans-serif;
}

.head{
    font-size: 26px;
    font-weight: 600px;
     margin-bottom:20px;
    font-weight:bold
}

.box{
    width: 370px;
    /* height: 500px; */
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex1{
    display: flex;
    margin: auto;
    border-bottom: 1px solid rgb(209, 206, 206);
    padding-top: 20px;
    font-size: 15px;
    font-weight: 700px;
}

.flex1>p:first-child{
    width:50%;
    color:grey;
}

.flex1>p:last-child{
     width:50%;
    height:65%;
    color: black;
    font-weight: bolder;
    border-bottom: 5px solid #fed250;
}

.ph{
    font-weight: bolder;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
}

.phone>input:first-child{
    width:22%;
    height:40px;
    border: none;
    background-color: #f5f5f5;
    border-radius:4px;
    margin-left: 10px;
    padding-left: 15px;
}

.phone>input:last-child{
    margin-left: 10px;
    width:50%;
    height:40px;
    border: none;
    background-color: #f5f5f5;
    border-radius:4px;
    margin-right: 10px;
}

.inp{
    margin-left: 10px;
    width:76%;
    height:40px;
    border: none;
    background-color: #f5f5f5;
    border-radius:4px;
    margin-right: 10px;
    margin-top: 30px;
    padding-left: 15px;
}

.btn{
    width: 80%;
    height:40px;
    font-weight: 600px ;
    font-size: 15px;
    border:none;
    border-radius:4px;
    background-color: #fed250;
    margin-top:40px;
    cursor: pointer;
}